FERRAMENTA_Backup_GitHub.json
{
  "name": "FERRAMENTA - Daily Backup GitHub Repo",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Data').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Data').first().json.repo }}",
          "mode": "name"
        },
        "filePath": "=n8n-workflows/{{ $('Workflow New').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow New').item.json.name }} [{{ $now.setZone('UTC').toFormat('yyyy-MM-dd') }}T{{ $now.setZone('America/Sao_Paulo').toFormat('hh:mm') }}]"
      },
      "id": "6cb2b9bc-cb08-4f3f-912b-dd2d75a36cd1",
      "name": "Create File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        4680,
        1141
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "",
          "name": "teste"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Data').item.json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Data').item.json.repo }}",
          "mode": "name"
        },
        "filePath": "={{ $('Data').item.json.path }}{{ $('Get Workflows').item.json.id }}.json",
        "additionalParameters": {}
      },
      "id": "81b8821a-5bad-4a70-9131-3a00887bec61",
      "name": "Find File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        3580,
        820
      ],
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "KcJBYGYmIMF18OwN",
          "name": "Teste"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "409c062f-1a22-4180-b5e0-5155e729e1bc",
              "name": "owner",
              "value": "FLCordis",
              "type": "string"
            },
            {
              "id": "0aaea702-052f-4388-8afe-c88478f13bc0",
              "name": "repo",
              "value": "backup-n8n",
              "type": "string"
            },
            {
              "id": "353765da-36cb-479b-b907-eb1cba3ea9bd",
              "name": "path",
              "value": "n8n-workflows/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fb4ed66d-94e6-485c-82ac-43718de55818",
      "name": "Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2920,
        920
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cdf0f962-1982-4f49-8c6d-defe8bedb4ae",
              "name": "data",
              "value": "={{$json}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "26b44709-93a9-407a-b19c-7078484ad88d",
      "name": "Workflow Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3660,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "d5d5d948-d0d5-4f1d-8590-f8595e8ee488",
      "name": "Extract File Data",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3740,
        820
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "a69575a8-7fea-458b-9454-1032e34c56c9",
      "name": "Get Workflows",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        3140,
        920
      ],
      "credentials": {
        "n8nApi": {
          "id": "5aAfgo1p92V1aRi5",
          "name": "Teste"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "data.id",
              "field2": "data.id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "id": "eaa18b71-6317-4eab-a7e4-02cb36718ae8",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        3960,
        940
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "id": "980ff46f-7641-47a0-b400-9966f1ea31dc",
      "name": "Convert Update",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4460,
        981
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "id": "e8df907a-26aa-46df-b6f3-f1ee202bdb0b",
      "name": "Convert New",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4460,
        1141
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "id": "01795813-381b-4f60-8752-ced09c86c182",
      "name": "Workflow Update",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4240,
        981
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "id": "d39922a0-ff4c-431a-bc09-53e2f85a6dbd",
      "name": "Workflow New",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4240,
        1141
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Data').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Data').first().json.repo }}",
          "mode": "name"
        },
        "filePath": "=n8n-workflows/{{ $('Workflow Update').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow Update').item.json.name }} [{{ $now.setZone('UTC').toFormat('yyyy-MM-dd') }}T{{ $now.setZone('America/Sao_Paulo').toFormat('hh:mm') }}]"
      },
      "id": "29dceabb-b044-4ec7-9701-3c0720dfd815",
      "name": "Edit File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        4680,
        981
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "KcJBYGYmIMF18OwN",
          "name": "Teste"
        }
      }
    },
    {
      "parameters": {
        "content": "## Backup Diário ⏱️\nTodos os dias ele verifica alterações feitas nos workflows **caso existir** ele vai atualizar o arquivo com uma mensagem de commit do horário modificado, adicionando no histórico do arquivo, **caso não existir** ele vai criar esse arquivo com o ID único e o nome na mensagem de commit também.",
        "height": 345.87209302325573,
        "width": 614.2675144433018,
        "color": 5
      },
      "id": "e3c2d611-c620-40e7-8d75-8300fe6a6759",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2660,
        780
      ]
    },
    {
      "parameters": {
        "content": "# Verificação 🕵️‍♂️\n## Ele insere os dados do Workflow em um Nó e tenta achar o Workflow no repositório.\n### - A Branch: O arquivo existe apenas no GitHub, nada é feito.\n### - Same Branch: Workflow iguais não é feito nenhuma alteração.\n### - Differente Branch: Workflow diferentes vai ser atualizado o arquivo no repositório.\n### - B Branch: Workflow não existente no Github, ele vai criar o arquivo no repositório.\n",
        "height": 717.9623169556924,
        "width": 1553.1585556695795,
        "color": 3
      },
      "id": "c23ba274-d2c5-4bce-b26d-9929f05edfa5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3280,
        575.0221595848219
      ]
    },
    {
      "parameters": {
        "content": "## [Restauração](https://hub.n8n-workflows.com.br/workflow/Psqi7B0CHVhzg2Yo) 🔃🗂️\nSe existir a necessidade de voltar uma versão do Workflow, o GitHub cria **versionamentos em código SHA** que são únicos e usados para voltar históricos de versões.\nSó acessar o Workflow de restauração com o **nome ID**, o **caminho** no GitHub e o **código SHA** da versão do histórico a ser restaurada.",
        "height": 157.94345917765344,
        "width": 616.1710006003154
      },
      "id": "715772a5-ee1a-43cf-a36f-f404fb565680",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2660,
        1132.6173910524803
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * 1-6"
            }
          ]
        }
      },
      "id": "60626124-0d7e-4029-83e9-d4105f2121e1",
      "name": "Segunda a Sábado - 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2700,
        920
      ]
    },
    {
      "parameters": {
        "fromEmail": "teste",
        "toEmail": "teste",
        "subject": "=Backup no repositório '{{ $('Data').first().json.repo }}' de {{ $now.toLocaleString() }} concluído! ✅",
        "html": "=<h1> Backups feito! 🗂️</h1>\n<body>\n<h2>Oque foi adicionado ou alterado? 🔃</h2>\n<p>\n{{ $json.projeto.map(item => `Nome: ${item.nome} | ID: ${item.id}`).join('<br><br>') }}\n</p>\n</body>\n<br><br>\n<footer>\n<h4>Abraço do Robozinho do Backup 🤖🤙</h4>\n<p>🪛 Criado por <a href=\"https://www.linkedin.com/in/flaviompcordis/\">Flávio Cordis</a> ⚙️</p>\n</footer>",
        "options": {}
      },
      "id": "c1d7339e-5332-4abc-a4f7-848df6872f40",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        5620,
        1061
      ],
      "credentials": {
        "smtp": {
          "id": "KHHuQhqwerUJX3Gn",
          "name": "Teste"
        }
      }
    },
    {
      "parameters": {},
      "id": "319b42b5-f683-4e19-8679-5ec9db0eb7ef",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5220,
        1061
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "6e9e8a4a-d376-4e2a-be6f-9d46d66a44b6",
      "name": "Commits Update",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4900,
        981
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "c8db646b-16f4-40c3-a6c8-738c230ee9c7",
      "name": "Commits Create",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4900,
        1141
      ]
    },
    {
      "parameters": {
        "jsCode": "var commits = $input.first().json.data\nconsole.log(commits)\nvar id = [], projetos = []\n\nvar data = commits.map(item => {\n  return {\n    nome: item.commit.message,\n    id: item.content.name\n  }\n})\n\nreturn {\n  projeto: data\n}"
      },
      "id": "e7e5c5d8-e000-4ac9-a3da-fc99301d2e0d",
      "name": "Backup Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5420,
        1061
      ]
    },
    {
      "parameters": {
        "content": "## Envio das alterações via e-mail\nEnviamos um e-mail pela API do [Resend](https://resend.com/).",
        "height": 393.5866268919616,
        "width": 953.1304008010214,
        "color": 4
      },
      "id": "e310eabb-8fc5-4d5e-ba5b-0904d6272b0c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4835.6860341415395,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var data = $input.item.json\ndelete data.tags\n\nreturn data;"
      },
      "id": "68934512-6315-4bc6-94a1-6973f32cd1c0",
      "name": "Remover Tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        920
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Find File": {
      "main": [
        [
          {
            "node": "Extract File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Get Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract File Data": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows": {
      "main": [
        [
          {
            "node": "Remover Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "Workflow Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Update": {
      "main": [
        [
          {
            "node": "Edit File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert New": {
      "main": [
        [
          {
            "node": "Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Update": {
      "main": [
        [
          {
            "node": "Convert Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow New": {
      "main": [
        [
          {
            "node": "Convert New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segunda a Sábado - 7AM": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit File": {
      "main": [
        [
          {
            "node": "Commits Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File": {
      "main": [
        [
          {
            "node": "Commits Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Backup Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commits Update": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commits Create": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Backup Message": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remover Tags": {
      "main": [
        [
          {
            "node": "Find File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1365edc-068c-40ba-ab7d-5283e075413f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1b45cc3d5ab10aceb294cea22bc553c1178ae3e0a9d9818582f555df37c9806"
  },
  "id": "dXIB4epY2aQCHCqa",
  "tags": [
    {
      "createdAt": "2025-03-04T20:19:22.358Z",
      "updatedAt": "2025-03-04T20:19:22.358Z",
      "id": "5Up3Tpe4BsM0EkzX",
      "name": "Flavio"
    }
  ]
}